body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

/* This is the nav for all the html documents in the project*/
.container-fluid {
  width: 94vw;
}
.container-fluid .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 3s ease forwards;
}
.container-fluid .overlay .overlayImg {
  width: 200px;
  height: 200px;
  border: 2px solid #ff4500;
  border-radius: 50%;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.container-fluid .overlay .loading {
  font-size: 30px;
  font-family: "Farro", sans-serif;
  color: #f5f5dc;
}
.container-fluid .bnav {
  background-color: #000000;
}
.container-fluid .bnav a {
  color: #ffffff;
  font-family: "Farro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.container-fluid .bnav a:hover {
  color: #f5f5dc;
}
.container-fluid .bnav .navbar-toggler {
  background-color: #f5f5dc;
}
.container-fluid .bnav .img-nav {
  width: 50px;
  height: 50px;
  border: 1px solid #ff4500;
  border-radius: 50px;
  margin-left: 30px;
}
.container-fluid .bnav .img-nav:hover {
  border: 3px solid #ff4500;
}
.container-fluid .bnav .navbar-collapse {
  padding: 15px;
}
.container-fluid .bnav .navbar-collapse .dropdown-menu {
  background-color: #000000;
  border: 2px solid #f5f5dc;
}
.container-fluid .bnav .navbar-collapse .dropdown-menu .item {
  background-color: #000000;
  text-align: center;
  font-family: "Farro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.mainIndex .principalTitle {
  text-align: center;
  margin-top: 80px;
  font-family: "Farro", sans-serif;
  border: none;
  color: #f5f5dc;
}
.mainIndex .principalTitle span {
  text-align: center;
  color: #ff4500;
  text-shadow: 2px 2px #f5f5dc;
}
.mainIndex .row .box-1 {
  margin-top: 100px;
  border: 3px solid #f5f5dc;
  padding: 0;
}
.mainIndex .row .box-1 .wp-main {
  width: 100%;
}
.mainIndex .box-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 3px solid #f5f5dc;
  border-right: 3px solid #f5f5dc;
  border-left: 3px solid #f5f5dc;
}
.mainIndex .box-2 .imgBtmodal {
  width: 150px;
  height: 150px;
}
.mainIndex .box-2 .title-1 {
  color: #f5f5dc;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 80px;
}
.mainIndex .box-2 .custom-btn {
  background-color: #ff4500;
  width: 180px;
  height: 60px;
  margin-top: 60px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  border-color: #ffffff;
}
.mainIndex .box-2 .custom-btn:hover {
  background-color: #000000;
  border-color: #ff4500;
}
.mainIndex .modalfade {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}
.mainIndex .modalfade .modal-content {
  border: 5px solid #ffffff;
  background-color: #000000;
}
.mainIndex .modalfade .modal-content .modal-header {
  background-color: #000000;
  text-align: center;
  position: fixed;
}
.mainIndex .modalfade .modal-content .modal-header .img-bt {
  width: 150px;
}
.mainIndex .modalfade .modal-content .modal-body {
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.mainIndex .modalfade .modal-content .modal-body .imgModalCase {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid #ff4500;
  border-radius: 50px;
}
.mainIndex .modalfade .modal-content .modal-body .imgModalCase:hover {
  border: 3px solid #ff4500;
}
.mainIndex .modalfade .modal-content .modal-body h1 {
  color: #808080;
  border-bottom: 1px solid #ff4500;
}
.mainIndex .modalfade .modal-content .modal-body h3 {
  color: #ff4500;
}
.mainIndex .modalfade .modal-content .modal-body .p1-bt {
  font-size: 13px;
  font-weight: bold;
  color: #808080;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}
.mainIndex .modalfade .modal-content .modal-body .p2-bt {
  color: #808080;
  font-size: 28px;
  border-bottom: 2px solid #ff4500;
}
.mainIndex .modalfade .modal-content .modal-body .socialMedia {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-top: 30px;
}
.mainIndex .modalfade .modal-content .modal-body .socialMedia .pSM {
  color: #808080;
  font-size: 15px;
}
.mainIndex .modalfade .modal-content .modal-body .socialMedia .click {
  color: #ff4500;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .box-2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .box-2 .custom-btn {
    margin-bottom: 15px;
  }
}
.mainMotorcycle .boxAudio {
  padding: 0;
  margin-top: 70px;
  border: 1px solid #ffffff;
  background-color: #f5f5dc;
}
.mainMotorcycle .boxAudio .imgBoxAudio {
  width: 100%;
}
.mainMotorcycle .descriptionAudio {
  background-color: #f5f5dc;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.mainMotorcycle .descriptionAudio .log {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.mainMotorcycle .descriptionAudio .log .img-log {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4500;
  border-radius: 50px;
}
.mainMotorcycle .descriptionAudio .sub-Audio {
  text-transform: uppercase;
  color: #ff4500;
  font-size: 13px;
  font-family: "Farro", sans-serif;
}

.fondMain {
  height: 1700px;
  width: 90vw;
  background-image: url(https://www.harley-davidson.com/content/dam/h-d/images/category-images/2023/tall-hero/collections-alt-thd.jpg?impolicy=myresize&rw=1280);
  background-size: cover;
  background-position: center;
  margin-top: 120px;
}
.fondMain .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fondMain .form .form-box .form1 {
  width: 80vw;
  margin-top: 100px;
  background-color: #ffffff;
}
.fondMain .form .form-box .form1:hover {
  background-color: #f5f5dc;
}
.fondMain .form .form-box .form1:hover .img-form {
  border: 3px solid #ff4500;
}
.fondMain .form .form-box .form1 .imgBoxform {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fondMain .form .form-box .form1 .imgBoxform .img-form {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.fondMain .form .form-box .form1 .h1-form {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 40px;
}
.fondMain .form .form-box .form1 .h2-form {
  text-align: center;
  text-transform: uppercase;
  color: #ff4500;
  font-size: 20px;
}
.fondMain .form .form-box .form1 .inputsItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fondMain .form .form-box .form1 .inputsItem .first input {
  margin: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  display: block;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  border: 1px solid #000000;
  font-weight: bold;
}
.fondMain .form .form-box .form1 .inputsItem .first label {
  padding: 10px;
  text-align: left;
  margin-top: 20px;
  margin: 10px;
  display: block;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
}
.fondMain .form .form-box .form1 .restForm .h3-form {
  text-align: center;
  color: #000000;
  font-size: 15px;
}
.fondMain .form .form-box .form1 .restForm .radioList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "Farro", sans-serif;
  font-size: 15px;
}
.fondMain .form .form-box .form1 .restForm .radioList .radio {
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Farro", sans-serif;
}
.fondMain .form .form-box .form1 .check {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fondMain .form .form-box .form1 .check .h4-form {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Farro", sans-serif;
}
.fondMain .form .form-box .form1 .check .check-div1, .fondMain .form .form-box .form1 .check .check-div2, .fondMain .form .form-box .form1 .check .check-div3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 12px;
  font-family: "Farro", sans-serif;
}
.fondMain .form .form-box .form1 .check .check, .fondMain .form .form-box .form1 .check .h6-form {
  margin-top: 30px;
  font-size: 12px;
  padding: 30px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Farro", sans-serif;
}
.fondMain .form .form-box .form1 .check .check, .fondMain .form .form-box .form1 .check .h6-form span {
  font-style: italic;
  text-align: center;
}
.fondMain .form .form-box .form1 .check .submit {
  margin-bottom: 15px;
  border: 2px solid;
  background-color: #ff4500;
  width: 180px;
  height: 60px;
  margin-top: 60px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  border-color: #ffffff;
  border-radius: 15px;
}
.fondMain .form .form-box .form1 .check .submit:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ff4500;
}

@media only screen and (max-width: 576px) {
  .inputsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first input {
    width: 100%;
    padding: 3px;
  }
  .first input .first label {
    width: 100%;
    text-align: center;
  }
}
.sectionIndex1 .box-1 {
  margin-top: 100px;
  border: 3px solid #ffffff;
  padding: 0;
}
.sectionIndex1 .box-1 .wp-section {
  width: 100%;
}
.sectionIndex1 .box-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 3px solid #f5f5dc;
  border-right: 3px solid #f5f5dc;
  border-left: 3px solid #f5f5dc;
}
.sectionIndex1 .box-2 .img-bt-modal {
  width: 150px;
  height: 150px;
}
.sectionIndex1 .box-2 .title-1 {
  color: #f5f5dc;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 80px;
}
.sectionIndex1 .box-2 .custom-btn {
  background-color: #ff4500;
  width: 180px;
  height: 60px;
  margin-top: 60px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  border-color: #ffffff;
  border-radius: 15px;
}
.sectionIndex1 .box-2 .custom-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ff4500;
}
.sectionIndex1 .modalfade {
  background-color: #000000;
  text-align: center;
  color: #808080;
  font-size: 40px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}
.sectionIndex1 .modalfade .modal-content {
  border: 5px solid #ffffff;
  background-color: #000000;
}
.sectionIndex1 .modalfade .modal-content .modal-header {
  background-color: #000000;
  text-align: center;
  position: fixed;
}
.sectionIndex1 .modalfade .modal-content .modal-body {
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .HdBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .HdBox .imgModalCase {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid #ff4500;
  border-radius: 50px;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .HdBox .imgModalCase:hover {
  border: 3px solid #ff4500;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .h1-modal-events {
  font-size: 20px;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .box-modal-2 .p-description-date1 {
  font-family: "Farro", sans-serif;
  color: #ff4500;
  font-size: 15px;
  text-transform: uppercase;
}
.sectionIndex1 .modalfade .modal-content .modal-body .modal-flex .box-modal-2 .p-description-date2 {
  font-family: "Farro", sans-serif;
  color: #808080;
  font-size: 15px;
  text-transform: uppercase;
}
.sectionIndex1 .modalfade .modal-content .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f5dc;
}
.sectionIndex1 .modalfade .modal-content .modal-footer .modal-btn1 {
  background-color: #000000;
  border-color: #ff4500;
  margin-top: 30px;
  color: #f5f5dc;
  width: 120px;
  height: 50px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 15px;
}

@media only screen and (max-width: 576px) {
  .box-2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .box-2 .custom-btn {
    margin-bottom: 15px;
  }
}
.sectionIndex2 .section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.sectionIndex2 .section .boxSection-Motorcycle {
  border: 2px solid #f5f5dc;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 10px;
  text-align: center;
  padding: 40px 10px 20px 10px;
  font-size: 15px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
}
.sectionIndex2 .section .boxSection-Motorcycle:hover > .img-box-section {
  border: 2px solid #ff4500;
  border-radius: 5px;
  transition: 3s;
}
.sectionIndex2 .section .boxSection-Motorcycle:hover > .p1Section-motorcycle {
  color: #f5f5dc;
}
.sectionIndex2 .section .boxSection-Motorcycle:hover > .p2Section-motorcycle {
  transition: 3s;
  font-size: 25px;
  color: #ff4500;
  opacity: 100%;
}
.sectionIndex2 .section .boxSection-Motorcycle .img-box-section {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  opacity: 100%;
}
.sectionIndex2 .section .boxSection-Motorcycle .p2Section-motorcycle {
  padding-bottom: 30px;
  font-size: 10px;
  opacity: 3%;
}
.sectionIndex2 .section .boxSection-Motorcycle .p1Section-motorcycle {
  padding: 5px;
  color: #ff4500;
}

@media only screen and (max-width: 576px) {
  .section {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section1 .boxMotorcycle {
  margin-top: 70px;
  background-color: #f5f5dc;
  height: 340px;
  border-radius: 15px;
  transition: height 3s ease;
  overflow: hidden;
  border: 1px solid #f5f5dc;
}
.section1 .boxMotorcycle:hover {
  height: 490px;
}
.section1 .boxMotorcycle .imgBoxMotorcycle {
  width: 100%;
  box-shadow: 2px 2px 2px 2px #ffffff;
  border-bottom: 1px solid #000000;
}
.section1 .boxMotorcycle .motorcycleName {
  margin-top: 5px;
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.section1 .boxMotorcycle .dataSheet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  color: #ff4500;
  font-weight: bold;
}
.section1 .boxMotorcycle .dataSheet:hover {
  padding: 7px;
  color: #808080;
  font-weight: bold;
}
.section1 .boxMotorcycle .p2Motorcycle {
  background-color: #f5f5dc;
  margin-top: 20px;
  color: #808080;
  font-family: "Farro", sans-serif;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
}
.section1 .boxMotorcycle .log-hd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section1 .boxMotorcycle .log-hd .imgLogHd {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border: 2px solid #ff4500;
  border-radius: 50px;
}

@media only screen and (max-width: 576px) {
  .boxMotorcycle {
    margin: 0 auto;
  }
}
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-1 .boxHelmets {
  margin-top: 70px;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 15px;
  height: 370px;
  transition: height 3s ease;
  overflow: hidden;
  border: 1px solid #f5f5dc;
}
.section-1 .boxHelmets:hover {
  height: 650px;
}
.section-1 .boxHelmets .imgBoxHelmets {
  width: 100%;
  height: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.section-1 .boxHelmets .p1helmets {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
  color: #f5f5dc;
  background-color: #000000;
  text-align: center;
  font-weight: bold;
}
.section-1 .boxHelmets .p2helmets {
  background-color: #000000;
  text-transform: uppercase;
  padding: 2px;
  font-size: 10px;
  margin-top: 40px;
  color: #f5f5dc;
  font-weight: bold;
}
.section-1 .boxHelmets .log-hd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.section-1 .boxHelmets .log-hd .imgLogHd {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4500;
  border-radius: 50px;
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-1 .boxAudio01 {
  margin-top: 70px;
  background-color: #f5f5dc;
  border: 1px solid #f5f5dc;
  border-radius: 15px;
  height: 470px;
  transition: height 3s ease;
  overflow: hidden;
}
.section-1 .boxAudio01:hover {
  height: 900px;
}
.section-1 .boxAudio01 .imgBoxTiresAndRims {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.section-1 .boxAudio01 .p1Audio {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 12px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
}
.section-1 .boxAudio01 .dataSheet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  color: #ff4500;
  font-weight: bold;
}
.section-1 .boxAudio01 .dataSheet:hover {
  padding: 7px;
  color: grey;
  font-weight: bold;
}
.section-1 .boxAudio01 .ulAudio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5dc;
  margin-top: 27px;
}
.section-1 .boxAudio01 .ulAudio .liAudio, .section-1 .boxAudio01 .ulAudio .liAudio1 {
  color: #808080;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px;
}
.section-1 .boxAudio01 .ulAudio .liAudio1 {
  list-style: none;
}
.section-1 .boxAudio01 .log-hd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-1 .boxAudio01 .log-hd .imgLogHd {
  width: 50px;
  height: 50px;
  border: 2px solid #ff4500;
  border-radius: 50px;
}

@media only screen and (max-width: 576px) {
  .boxAudio01 {
    margin: 0 auto;
  }
}
section .dataSheet1 {
  background-color: #000000;
}
section .dataSheet1 .imageDateSheet {
  margin-top: 70px;
  margin-bottom: 70px;
  border: 2px solid #808080;
  width: 100%;
}
section .dataSheet1 .table {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .dataSheet1 .table tr {
  border: 2px solid #808080;
  font-size: 13px;
  text-align: center;
}
section .dataSheet1 .table tr th {
  background-color: #f5f5dc;
  color: #000000;
  width: 900px;
}
section .dataSheet1 .table tr .img-nav {
  width: 50px;
  height: 50px;
  border: 1px solid #ff4500;
  border-radius: 50px;
}
section .dataSheet1 .table tr .img-nav:hover {
  border: 3px solid #ff4500;
}
section .dataSheet1 .table tr .td1 {
  padding: 10px;
  font-family: "Farro", sans-serif;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  color: #f5f5dc;
  border-bottom: 1px solid #808080;
}
section .dataSheet1 .table tr .td2 {
  padding: 10px;
  font-family: "Farro", sans-serif;
  font-size: 10px;
  background-color: #000000;
  border-collapse: collapse;
  color: #f5f5dc;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #808080;
}

.section-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-a .boxAudioBAS {
  margin-top: 70px;
  background-color: #f5f5dc;
  border: 1px solid #f5f5dc;
  border-radius: 15px;
  height: 440px;
  transition: height 3s ease;
  overflow: hidden;
  border: 1px solid #f5f5dc;
}
.section-a .boxAudioBAS:hover {
  height: 600px;
}
.section-a .boxAudioBAS .imgBoxAudio {
  width: 100%;
  border-bottom: 1px solid #000000;
}
.section-a .boxAudioBAS .dataSheet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  color: #ff4500;
  margin-bottom: 10px;
  font-weight: bold;
}
.section-a .boxAudioBAS .dataSheet:hover {
  padding: 7px;
  color: grey;
  font-weight: bold;
}
.section-a .boxAudioBAS .title-Audio {
  text-transform: uppercase;
  font-size: 10px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.section-a .boxAudioBAS .log {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-a .boxAudioBAS .log .img-log {
  width: 40px;
  height: 40px;
  border: 2px solid #ff4500;
  border-radius: 50px;
}
.section-a .boxAudioBAS .sub-Audio {
  text-transform: uppercase;
  font-size: 10px;
  color: #808080;
  margin-top: 35px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

@media only screen and (max-width: 576px) {
  .boxAudioBAS {
    margin: 0 auto;
  }
}
footer .footer-container {
  margin-top: 30px;
}
footer .footer-container .ul-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 100px;
  padding-left: 10px;
}
footer .footer-container .ul-footer .footer-h {
  list-style: none;
  width: 200px;
  color: #ffffff;
  font-family: "Farro", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
footer .footer-container .ul-footer .footer-h .span1 {
  color: #ff4500;
  font-size: 15px;
  padding-left: 10px;
}
footer .footer-container .ul-footer .suscribe {
  list-style: none;
  padding-top: 10px;
  font-family: "Farro", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
footer .footer-container .ul-footer .suscribe .a-1 {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 18px;
}
footer .footer-container .ul-footer .suscribe .a-1:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ff4500;
  border-radius: 15px;
}
footer .footer-container .sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  margin-bottom: 80px;
}
footer .footer-container .sub-footer .custom-btn {
  background-color: #ff4500;
  width: 180px;
  height: 60px;
  margin-top: 100px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  border-color: #ffffff;
}
footer .footer-container .sub-footer .modalfade {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}
footer .footer-container .sub-footer .modalfade .modal-content {
  border: 5px solid #ffffff;
  background-color: #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-header {
  background-color: #000000;
  text-align: center;
  position: fixed;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body {
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .p1-bt {
  font-size: 13px;
  font-weight: bold;
  color: #f5f5dc;
  font-family: "Farro", sans-serif;
  text-transform: uppercase;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .p1-bt .imgBt-personal {
  width: 230px;
  height: 230px;
  border-bottom: 10px;
  border-radius: 15px;
  border: 2px solid #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .p1-bt .descriptionPersonal {
  color: #f5f5dc;
  font-size: 20px;
  border-bottom: 2px solid #f5f5dc;
  margin-top: 10px;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .p1-bt .descriptionP {
  border: 2px solid #f5f5dc;
  padding: 10px;
  margin-top: 10px;
  background-color: #808080;
  text-transform: lowercase;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .p2-bt {
  color: #f5f5dc;
  font-size: 20px;
  border-bottom: 2px solid #f5f5dc;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .face {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .face:hover {
  border: 2px solid #f5f5dc;
  border-radius: 5px;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .insta {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .insta:hover {
  border: 2px solid #f5f5dc;
  border-radius: 5px;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .x {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .x:hover {
  border: 2px solid #f5f5dc;
  border-radius: 5px;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .yt {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #000000;
}
footer .footer-container .sub-footer .modalfade .modal-content .modal-body .socialMedia .yt:hover {
  border: 2px solid #f5f5dc;
  border-radius: 5px;
}
footer .footer-container .sub-footer .redes {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  margin-top: 50px;
}
footer .footer-container .sub-footer .redes .face {
  width: 60px;
  height: 60px;
}
footer .footer-container .sub-footer .redes .face:hover {
  border: 2px solid #ff4500;
  border-radius: 5px;
}
footer .footer-container .sub-footer .redes .insta {
  width: 60px;
  height: 60px;
}
footer .footer-container .sub-footer .redes .insta:hover {
  border: 2px solid #ff4500;
  border-radius: 5px;
}
footer .footer-container .sub-footer .redes .x {
  width: 60px;
  height: 60px;
}
footer .footer-container .sub-footer .redes .x:hover {
  border: 2px solid #ff4500;
  border-radius: 5px;
}
footer .footer-container .sub-footer .redes .yt {
  width: 60px;
  height: 60px;
}
footer .footer-container .sub-footer .redes .yt:hover {
  border: 2px solid #ff4500;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .ul-footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .ul-footer .suscribe {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .sub-footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}

/*# sourceMappingURL=style.css.map */
