.mainMotorcycle{
    .boxAudio{
        padding: 0;
        margin-top:70px;
        border: 1px solid $white;
        background-color: $beige;
        .imgBoxAudio{
            width: 100%;
        }

    }
    .descriptionAudio{
        background-color: $beige;
        text-align: center;
        color: $black;
        text-transform: uppercase;
        .log{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
            .img-log{
                width: 50px;
                height: 50px;
                border: 2px solid $darkOrange;
                border-radius: 50px;
            }
        }
        .sub-Audio{
            text-transform: uppercase;
            color: $darkOrange;
            font-size: 15px;
            font-family: "Farro", sans-serif
        }
    }
}
