.mainIndex{
    .principalTitle{
        text-align: center;
        margin-top: 80px;
        font-family: "Farro", sans-serif;
        border:none;
        color: $white;
        span{
            text-align: center;
            color: $darkOrange;
            text-shadow: 1px 1px $white;
            font-weight: bold;
        }
    }
    .row{
        .box-1{
            margin-top: 100px;
            border:3px solid $white;
            padding: 0;
            .wp-main{
                width: 100%;
    

            }
         
    
        }
          
        }
        .box-2{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border:1px solid $white;
            .imgBtmodal{
                width: 150px;
                height: 150px;
            }
            .title-1{
                color: $beige;
                font-family: "Farro", sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                padding-top: 80px;
            }
            .custom-btn{
                background-color: $darkOrange;
                width: 180px;
                height: 60px;
                margin-top: 60px;
                font-family: "Farro", sans-serif;
                text-transform: uppercase;
                border-color: $white;
                &:hover{
                    background-color: $black;
                    border-color: $darkOrange;
                }
            }
        }
        .modalfade{
            background-color: $black;
            text-align: center;
            color: $white;
            font-size: 40px;
            font-family: "Farro", sans-serif;
            text-transform: uppercase;
                .modal-content{
                    border: 5px solid $white;
                    background-color: $black;
                    .modal-header{
                        background-color: $black;
                        text-align: center;
                        position: fixed;
                        .img-bt{
                            width: 150px;
                        }
                    }
                    .modal-body{
                        font-family: "Farro", sans-serif;
                        text-transform: uppercase;
                        background-color: $black;
                        display: flex;
                        flex-direction:column;
                        flex-wrap: wrap;
                        text-align: center;
                        h1{
                            color:$beige;
                        }
                        h3{
                            color:$beige;
                            border-bottom: 2px solid $darkOrange;
                        }
                        .p1-bt{
                            font-size: 13px;
                            font-weight: bold;
                            color: $beige;
                            font-family: "Farro", sans-serif;
                            text-transform: uppercase;
                        }
                        .p2-bt{
                            color: $beige;
                            font-size: 28px;
                            border-bottom: 2px solid $darkOrange;
                        }
                        .socialMedia{
                            display :flex;
                            justify-content: space-around;
                            margin-top: 30px;
                            .master,.pp,.mp,.visa{
                                width: 70px;
                                height: 70px;
                                border: 2px solid  $black;
                                border-radius: 15px;
                                
                              
                            }
                        }

                    }
                }
            
        }
            
    }


@media only screen and (max-width: 576px){
 .box-2{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    .custom-btn{
      margin-bottom: 15px;
    }



}
}
